
$size-s: 650px;
$size-m: 1000px;
$size-l: 1600px;
$size-xl: 2320px;

$size-scrollbar-width: 14px;

$size-header-height: 6rem;
$size-footer-height: 6rem;

$size-aside-width: 24rem;
$size-conetnt__nav-width--l: 30rem;

$size-content-max: 128rem;
$size-content-max--xl: 161.2rem;


@mixin screen-s {
    @media (min-width: #{$size-s}) {
        @content;
    }
}
@mixin screen-m {
    @media (min-width: #{$size-m}) {
        @content;
    }
}
@mixin screen-l {
    @media (min-width: #{$size-l}) {
        @content;
    }
}
@mixin screen-xl {
    @media (min-width: #{$size-xl}) {
        @content;
    }
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: grid;
    grid-template-rows: 6rem 1fr auto;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #161616;
    overflow-x: hidden;

    &::-webkit-scrollbar-track, &::-webkit-scrollbar-corner {
        width: $size-scrollbar-width;
        background-color: #2c2c2c;
    }
    &::-webkit-scrollbar {
        width: $size-scrollbar-width;
        background-color: #2c2c2c;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #444444;
        &:hover {
            background-color: lighten($color: #444444, $amount: 10);
        }
    }
}

header {
    position: relative;
    width: 100%;
    height: $size-header-height;
    background-color: #222222;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    z-index: 99;
    padding: 0 .8rem;
    @include screen-s() {
        padding: 0 1.6rem;
    }
    @include screen-l() {
        padding: 0 4.8rem;
    }
    .header__content {
        height: 100%;
        width: 100%;
        background-color: #303030;
        max-width: $size-content-max;
        margin-left: auto;
        margin-right: auto;

        @include screen-xl() {
            max-width: $size-content-max--xl;
        }
    }
}

footer {
    position: relative;
    width: 100%;
    height: $size-footer-height;
    background-color: #222222;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    z-index: 99;
    padding: 0 .8rem;    
    @include screen-s() {
        padding: 0 1.6rem;
    }
    @include screen-l() {
        padding: 0 4.8rem;
    }
    .footer__content {
        height: 100%;
        width: 100%;
        background-color: #303030;
        max-width: $size-content-max;
        margin-left: auto;
        margin-right: auto;
        @include screen-xl() {
            max-width: $size-content-max--xl;
        }
    }
}

main {
    position: relative;
    height: 100%;
    min-height: 120rem;
    width: 100%;
    display: flex;
    flex-direction: row;

    .main__content {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        width: 100%;
        // background-color: #262626;
        margin: .8rem;


        @include screen-s() {
            margin: 1.6rem;
        }
        @include screen-m() {
            margin: 1.6rem;
        }
        @include screen-l() {
            margin: 4.8rem;
        }
        @include screen-xl() {
            flex-direction: row-reverse;            
            max-width: calc($size-content-max + $size-conetnt__nav-width--l + 3.2rem);
            margin-left: auto;
            margin-right: auto;
            flex-direction: row-reverse; 
            gap: 3.2rem 
        }

        .main__sectionContainer {
            width: 100%;
            height: 100%;            
            max-width: $size-content-max;
            margin-left: auto;
            margin-right: auto;
            
            .main__section {
                height: 60rem;

                width: 100%;
                background-color: #262626;
                border-bottom: solid 1px white;
                .section__content {
                    background-color: #303030;
                }
            }

        }
        .main__nav {
            width: 100%;
            min-height: 30rem;
            min-width: 30rem;
            background-color: #303030;
            
            max-width: $size-content-max;
            margin-left: auto;
            margin-right: auto;

            @include screen-xl() {
                width: $size-conetnt__nav-width--l;
            }
        }
    }
}