* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-rows: 6rem 1fr auto;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #161616;
  overflow-x: hidden;
}
body::-webkit-scrollbar-track, body::-webkit-scrollbar-corner {
  width: 14px;
  background-color: #2c2c2c;
}
body::-webkit-scrollbar {
  width: 14px;
  background-color: #2c2c2c;
}
body::-webkit-scrollbar-thumb {
  background-color: #444444;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #5e5e5e;
}

header {
  position: relative;
  width: 100%;
  height: 6rem;
  background-color: #222222;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  z-index: 99;
  padding: 0 0.8rem;
}
@media (min-width: 650px) {
  header {
    padding: 0 1.6rem;
  }
}
@media (min-width: 1600px) {
  header {
    padding: 0 4.8rem;
  }
}
header .header__content {
  height: 100%;
  width: 100%;
  background-color: #303030;
  max-width: 128rem;
  margin-left: auto;
  margin-right: auto;
}

footer {
  position: relative;
  width: 100%;
  height: 6rem;
  background-color: #222222;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  z-index: 99;
  padding: 0 0.8rem;
}
@media (min-width: 650px) {
  footer {
    padding: 0 1.6rem;
  }
}
@media (min-width: 1600px) {
  footer {
    padding: 0 4.8rem;
  }
}
footer .footer__content {
  height: 100%;
  width: 100%;
  background-color: #303030;
  max-width: 128rem;
  margin-left: auto;
  margin-right: auto;
}

main {
  position: relative;
  height: 100%;
  min-height: 120rem;
  width: 100%;
  display: flex;
  flex-direction: row;
}
main .main__content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
  margin: 0.8rem;
}
@media (min-width: 650px) {
  main .main__content {
    margin: 1.6rem;
  }
}
@media (min-width: 1000px) {
  main .main__content {
    margin: 1.6rem;
  }
}
@media (min-width: 1600px) {
  main .main__content {
    margin: 4.8rem;
  }
}
@media (min-width: 2320px) {
  main .main__content {
    flex-direction: row-reverse;
    max-width: 161.2rem;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row-reverse;
    gap: 3.2rem;
  }
}
main .main__content .main__sectionContainer {
  width: 100%;
  height: 100%;
  max-width: 128rem;
  margin-left: auto;
  margin-right: auto;
}
main .main__content .main__sectionContainer .main__section {
  height: 60rem;
  width: 100%;
  background-color: #262626;
  border-bottom: solid 1px white;
}
main .main__content .main__sectionContainer .main__section .section__content {
  background-color: #303030;
}
main .main__content .main__nav {
  width: 100%;
  min-height: 30rem;
  min-width: 30rem;
  background-color: #303030;
  max-width: 128rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 2320px) {
  main .main__content .main__nav {
    width: 30rem;
  }
}